.cart {
    &__wrap{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__aside{
        background: #FFFFFF;
        padding: 30px 20px;
        box-shadow: 1px 5px 10px #EAEAEA;
        border-radius: 0px 0px 10px 10px;
        max-width: 300px;
        width: 100%;
        position: sticky;
        top: 15px;
        &-title{
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: #343434;
        }
    }   
}