.feed {

    &__item {
        margin-top: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid #CDCDCD;

        &-title {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #343434;
            max-width: 466px;
        }

        &-date {
            margin-top: 15px;
            margin-bottom: 15px;
            font-size: 12px;
            line-height: 15px;
            color: #AAAAAA;            
        }

        &-desc {
            font-size: 15px;
            line-height: 18px;
            color: #343434;
        }

        &-btn {
            margin-top: 15px;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #76A135;    
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;        
        }

        &-img {
            max-width: 350px;
            width: 100%;
            max-height: 350px;
            height: 100%;
            border-radius: 5px;
            margin-top: 20px;
            object-fit: cover;
            aspect-ratio: 1/1;
        }

    }

}