.footer {
    background: #292929;
    color: #fff;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 80px 0 80px 0;

        @include media(992) {
            flex-direction: column;
        }
    }

    &__left {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        @include media(992) {
            margin-bottom: 50px;
        }

        @include media(768) {
            flex-direction: column;
            margin-bottom: 0;
            width: 100%;
        }
    }

    &__list {
        list-style-type: none;

        @include media(768) {
            margin-bottom: 50px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
        }

        &:not(:last-child) {
            margin-right: 50px;

            @include media(768) {
                margin-right: 0;
            }
        }
    }

    &__li {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__link {
        width: 200px;
        display: block;
        font-size: 15px;
        line-height: 18px;
        color: #F3F3F3;

        @include media(992) {
            width: max-content;
            text-align: center;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        margin-bottom: 30px;
    }

    &__right {

        @include media(768) {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 0;
            width: 100%;
        }

        &-link {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            color: #F3F3F3;

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            i {
                width: 16px;
                margin-right: 8px;
            }
        }
    }

    &__p {
        font-size: 15px;
        line-height: 18px;
        color: #888888;
        margin-bottom: 20px;
    }

    &__icons {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        a {
            color: #fff;
            font-size: 25px;

            &:not(:last-child) {
                margin-right: 8px;
            }
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #3A404B;
        padding: 30px 0 30px 0;

        @include media(768){
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &-item {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include media(768){
                &:not(:last-child){
                  margin-bottom: 20px;
                }
            }

            i {
                margin-right: 18px;
            }

            p {
                font-size: 14px;
                line-height: 17px;
                color: #FFFFFF;
            }
        }

        &-link {
            font-size: 14px;
            line-height: 17px;
            text-decoration-line: underline;
            color: #FFFFFF;
        }
    }
}