.header{
  background: #fff;
  &__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FAFAFA;
    padding: 15px 0;
    @include media(1200){
      display: none;
    }
    &-body{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-left{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      list-style: none;
    }
    &-li{
      &:not(:last-child){
        margin-right: 15px;
      }
    }
    &-link{
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      display: flex;
      align-items: center;
      color: #343434;
      &.strong{
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
        &:first-child{
          margin-right: 40px;
        }
      }
    }
    &-right{
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    &-btn{
      margin-left: 25px;
    }
  }
  &__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    @include media(1200){
      display: none;
    }
  }
  &__left{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &-link{
      padding-bottom: 12px;
      margin-right: 8px;
    }
    &-p{
      border-left: 1px solid #CDCDCD;
      padding-left: 12px;
      font-size: 12px;
      line-height: 15px;
      color: #888888;
    }
  }
  &__location{
    margin-left: 50px;
    position: relative;
    &-btn{
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 14px;
      line-height: 17px;
      display: flex;
      align-items: center;
      color: #343434;
      &.active{
        i{
          &:last-of-type{
            transform: rotate(-180deg);
          }
        }
        &~.header__location-list{
          display: block;
        }
      }
      i{
        &:first-of-type{
          margin-right: 5px;
          font-size: 20px;
        }
        &:last-of-type{
          margin-left: 5px;
          font-size: 14px;
          transition: 500ms cubic-bezier(0.68,-0.55,0.265,1.55);
        }
      }
    }
    &-list{
      list-style-type: none;
      box-shadow: 0 10px 30px #00000040;
      position: absolute;
      top: 30px;
      width: 160px;
      display: none;
      background: #fff;
      z-index: 10;
      li{
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        color: #343434;
        padding: 10px 8px;
        width: 100%;
        cursor: pointer;
        position: relative;
        transition: 200ms ease-in-out;
        &:hover{
          color: #fff;
          background: #76A135;
        }
        &:not(:last-of-type){
          border-bottom: 1px solid #cdcdcd;
        }
      }
    }
  }
  &__search{
    position: relative;
    max-width: 370px;
    width: 100%;
    margin-right: 50px;
    &-input{
      border: 1px solid #B9B9B9;
      box-sizing: border-box;
      border-radius: 5px;
      width: 100%;
      height: 40px;
      padding-left: 13px;
      padding-right: 20px;
      font-size: 14px;
      line-height: 17px;
      display: flex;
      align-items: center;
      &::placeholder{
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        color: #CDCDCD;
      }
    }
    &-btn{
      position: absolute;
      top: 50%;
      right: 12px;
      transform: translateY(-50%);
      color: #B9B9B9;
    }
  }
  &__right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__fav{
    font-size: 27px;
    color: #343434;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      top: -5px;
      right: -7px;
      width: 18px;
      height: 18px;
      background: #76A135;
      border-radius: 50%;
    }
  }
  &__cart{
    margin-left: 27px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    i{
      font-size: 27px;
      color: #343434;
    }
    p{
      margin-left: 8px;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      display: flex;
      align-items: center;
      color: #343434;
      padding-top: 8px;
    }
  }
  &__bottom{
    background: #76A135;
    @include media(992){
      background: none;
    }
  }
  &-carousel{
    max-width: 100%;
    @include media(992){
      overflow: hidden;
    }
    &-wrapper{
      width: 100%;
    }
    &__item{
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      min-width: 115px;
      width: 100%;
      border-left: 1px solid #fff;
      transition: background 200ms ease-in-out;
      position: relative;
      @media (min-width: 992px){
        &:hover{
          background: #fff;
          .header-carousel__content{
            display: flex;
          }
          p{
            color: #222;
          }
        }
      }
      &:last-of-type{
        border-right: 1px solid #fff;
      }
      &:nth-child(1),
      &:nth-child(2){
        .header-carousel__content{
          left: 0;
        }
      }
      &:nth-child(3),
      &:nth-child(4){
        .header-carousel__content{
          left: 50%;
          transform: translateX(-50%);
        }
      }
      &:nth-child(6),
      &:nth-child(5){
        .header-carousel__content{
          right: 0;
        }
      }
      @include media(992){
        background: #76A135;
        border-radius: 5px;
        border: none;
        height: 44px;
        &:not(:last-child){
          margin-right: 10px;
        }
      }
    }
    &__content{
      position: absolute;
      top: 60px;
      background: #fff;
      display: none;
      justify-content: space-between;
      align-items: flex-start;
      padding: 20px 0 20px 10px;
      max-height: 600px;
      box-shadow: 0 0 10px #00000020;
    }
    &__col{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &-title{
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 15px;
        height: 20px;
        white-space: nowrap;
      }
    }
    &-list{
      max-height: 100%;
      height: 550px;
      min-width: 180%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
    &-link{
      padding: 10px;
      display: block;
      width: 180px;
      text-align: left;
      font-size: 14px;
      text-decoration: none;
      color: #000;
      margin-right: 10px;
      transition:  200ms ease;
      font-weight: 400;
      &:not(:last-child){
        border-bottom: 1px solid #ccc;
      }
      &:hover{
        color:  #76A135;
      }
    }
    &-p{
      white-space: nowrap;
      color: #fff;
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;
      text-transform: uppercase;
      transition: color 200ms ease-in-out;
      @include media(992){
        font-size: 10px;
      }
    }
  }
}