* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Montserrat', sans-serif;

    &:focus,
    &:active {
        outline: none;
    }
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: transparent;
    padding-top: 20px;
}

::-webkit-scrollbar-thumb {
    background: #76A135;
    border: 2px solid transparent;
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #76A135;
}

::-webkit-scrollbar-thumb:hover {
    background: lighten(#76A135, 15%);
    border: 2px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:active {
    background: darken(#76A135, 5%);
    border: 2px solid transparent;
    background-clip: padding-box;
}

html {
    height: 100%;
}

body {
    height: 100%;

    &.overflow-hidden {
        overflow: hidden;
    }
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;

    &.fixed {
        margin-top: 158px;

        @include media(992) {
            margin-top: 0;
        }
    }
}

button {
    font-family: inherit;
    cursor: pointer;
    background: none;
    border: none;
}

input {
    font-family: inherit;
}

a {
    text-decoration: none;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    display: flex;
    justify-content: space-between;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    background: #76A135;
    border-radius: 5px;
    padding: 10px 25px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

[anim="ripple"] {
    position: relative;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        display: block;
        background: var(--ripple-background, white);
        border-radius: 50%;
        pointer-events: none;
        top: calc(var(--y) * 1px);
        left: calc(var(--x) * 1px);
        width: calc(var(--d) * 1px);
        height: calc(var(--d) * 1px);
        opacity: calc(var(--o, 1) * var(--ripple-opacity, 0.3));
        transition: calc(var(--t, 0) * var(--ripple-duration, 600ms)) var(--ripple-easing, linear);
        transform: translate(-50%, -50%) scale(var(--s, 1));
        transform-origin: center;
    }
}

.header-carousel__item.swiper-slide.filter-item-c {
    @media (hover:hover){
        &:hover{
            background: #fff !important;
            box-shadow: 0 0 10px #00000030;
            .header-carousel__content{
                box-shadow: 0px 8px 10px #00000020;
                min-width: calc(100% + 2px);
            }
        }
    }
}


.filter {
    margin-bottom: 30px;

    @include media(992) {
        display: none;
    }


    &__btn{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 15px;
        color: #898989 !important;
        i{
            transition:  200ms ease;
        }
    }

    &__title {
        font-size: 25px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 3px;
        padding-bottom: 15px;
        margin: 0 auto;
        padding-top: 30px;
        width: 660px;
        max-width: 100%;
    }

    &__content {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        .header-carousel-p {
            color: #333;
        }

        .header-carousel__content {
            z-index: 19;
        }

        .header-carousel__item {
            background: #f3f3f3;

            &:hover {
                background: #f3f3f3 !important;
            }
        }
    }
}


.login {
    background: url('../images/login.png') center / cover no-repeat;
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;

    @include media(576) {
        padding: 30px 0px 30px 0px;
    }

    &__bad {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 10px;
        color: #DD6767;
        display: none;
    }

    &-logo {
        @include media(992) {
            width: 100px;
            height: 30px;
            margin-bottom: 50px;

            img {
                max-width: 100%;
            }
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media(992) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }

    &__content {
        background: #FFFFFF;
        border-radius: 10px;
        padding: 50px 70px;
        max-width: 470px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        @include media(992) {
            background: transparent;
            margin-left: auto;
            margin-right: auto;
            padding: 0;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;
        color: #343434;
        margin-bottom: 30px;

        &.white {
            @include media(992){
                color: #fff;
            }
        }
    }

    &__desc {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #343434;
        margin-bottom: 10px;

        &.white {
            @include media(992){
                color: #fff;
            }
        }

        &.mb-50 {
            margin-bottom: 50px;
        }
    }

    &__link {
        font-size: 14px;
        line-height: 17px;
        color: #76A135;
        margin-bottom: 60px;
        display: block;

        &.mb-30 {
            margin-bottom: 30px;
        }
    }

    &__info {
        width: 100%;
        background: #eaf4db;
        border: 2px solid #ABDC61;
        box-sizing: border-box;
        border-radius: 10px;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        padding: 20px;
        color: #343434;
        margin-bottom: 35px;
    }

    &__get {
        width: 100%;
        height: 57px;
        position: relative;
        margin-bottom: 10px;
    }

    &__input {
        width: 100%;
        height: 100%;
        border: 1px solid #EBEBEB;
        box-sizing: border-box;
        border-radius: 10px;
        font-size: 16px;
        line-height: 20px;
        color: #313131;
        padding-left: 15px;
        padding-right: 46px;

        &.bad {
            border: 1px solid #DD6767;
            color: #DD6767;
            &::placeholder{ 
                color: #DD6767;
            }
        }

        &::placeholder {
            font-size: 16px;
            line-height: 20px;
            color: #AAAAAA;
        }
    }

    &__eye {
        position: absolute;
        right: 18px;
        top: 50%;
        transform: translateY(-50%);
    }

    &__btn {
        width: 100%;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #76A135;
        border-radius: 10px;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        margin-bottom: 20px;
        &.mt-10 {
            margin-top: 10px;
        }
        &.small {
            font-size: 16px;
            @include media(576){
                font-size: 14px;
            }
        }
    }

    &__or {
        font-size: 16px;
        line-height: 20px;
        color: #343434;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    &__external {
        width: 100%;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        border: 1px solid #EBEBEB;
        box-sizing: border-box;
        border-radius: 10px;
        font-size: 16px;
        line-height: 20px;
        color: #343434;
        font-weight: 500;

        img {
            margin-right: 10px;
        }

        &.google {
            margin-bottom: 14px;
        }

        &.facebook {
            background: #3B5998;
            color: #fff;
            border: 1px solid #3B5998;
        }

    }

    &__back {
        margin-left: auto;
        margin-right: auto;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #000000;

        &.white {
            @include media(992){
                color: #fff;
            }
        }
        i{
            margin-right: 20px;
        }
    }

}

.signup {
    background: url('../images/signup-1.png') center / cover no-repeat;
}

.signup2 {
    background: url('../images/signup-2.png') center / cover no-repeat;
}

.pass-1 {
    background: url('../images/pass-1.png') center / cover no-repeat;
}

.pass-2 {
    background: url('../images/pass-2.png') center / cover no-repeat;
}

.pass-3 {
    background: url('../images/pass-3.png') center / cover no-repeat;
}

.notfound {
    background: url('../images/404.png') center / cover no-repeat;
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__title {
        font-weight: 600;
        font-size: 320px;
        color: #343434;

        @include media(768){
            font-size: 150px;
        }   

    }

    &__subtitle {
        font-weight: 500;
        font-size: 22px;
        line-height: 32px;
        color: #000000;  
        margin-bottom: 30px;   
        
        @include media(576){
            font-size: 16px;
        }
    }

    &__p {
        font-weight: 500;
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 55px;
        max-width: 758px;
        text-align: center;
        color: #000000;     
        
        @include media(576){
            font-size: 16px;
        }

    }

    &__btn {
        background: #76A135;
        border-radius: 10px;
        padding: 30px 60px;
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;

        @include media(576){
            padding: 20px 30px;
            font-size: 16px;
        }

    }

} 

.quick-view{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #66666650;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    opacity: 0;
    visibility: hidden;
    &.active{
        opacity: 1;
        visibility: visible;
    }
    &__close{
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 2;
        @include media(992){
            top: 7px;
            right: 7px;
        }
    }
    &__body{
        background: #fff;
        padding: 30px 15px;
        max-height: 800px;
        height: calc(100% - 40px);
        overflow-y: auto;
        position: relative;
        @include media(992){
            position: static;
        }
        @include media(576){
            padding: 15px 0;   
        }
        .product-page .content{
            margin-bottom: 0;
            .form__footer{
                border-bottom: none;
            }
        }
    }
}