.news {
    margin-bottom: 150px;

    &__carousel {

        &-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            min-width: 370px;
            width: 100%;

            @include media(768){
                min-width: 215px;
            }
        }

        &-img {
            max-width: 100%;
            width: 100%;
            object-fit: cover;
            margin-bottom: 20px;
            border-radius: 10px;

            @include media(768){
                width: 215px;
                height: 200px;
            }
        }

        &-desc {
            font-size: 15px;
            line-height: 30px;
            color: #76A135;
            margin-bottom: 10px;

            @include media(576){
                font-size: 10px;
            }
            
        }

        &-title {
            font-weight: 500;
            font-size: 15px;
            line-height: 120%;
            text-align: left;
            color: #343434;

            @include media(576){
                font-size: 12px;
            }

        }

    }

    .swiper {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: hidden;
        list-style: none;
        padding: 0;
        z-index: 1;
    }

    .swiper-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        transition-property: transform;
        box-sizing: content-box;
    }

}