mixin about()
    .about  
        .about__body.container
            .about__content
                .products__header
                    .products__col 
                        p.products__desc О компании
                        p.products__title Почему большиство выбирает нас
                p.about__p У нас представлен богатый выбор свежих цветов. Все представленные букеты авторские и собираются согласно новейшим направлениям флористики
                p.about__p Наши флористы уделяют внимание дизайну и упаковке букета, начиная от крафт-бумаги и заканчивая корейской техникой с использованием цветной пленки
                p.about__p Композицию можно дополнить декором, например, в виде шоколадных букв, которые преобразят его в сердечное послание
                p.about__p В «Руккола» Вы можете выбрать букет и декор к нему в зависимости от бюджета, торжества и повода
            img(src="images/about.png", alt="").about__img