mixin advantages()  
    .advantages 
        .advantages__content.container 
            .advantages__item 
                img(src="images/advantages-1.svg", alt="").advantages__item-img
                .advantages__item-content
                    p.advantages__item-title 100% свежости
                    p.advantages__item-desc Подарим новый букет в случае получения несвежего букета
            .advantages__item 
                img(src="images/advantages-2.svg", alt="").advantages__item-img
                .advantages__item-content
                    p.advantages__item-title Лучшие флористы
                    p.advantages__item-desc Все букеты собирают опытные флористы, мастера своего дела
            .advantages__item 
                img(src="images/advantages-3.svg", alt="").advantages__item-img
                .advantages__item-content
                    p.advantages__item-title Счастливый покупатель
                    p.advantages__item-desc Получили букет плохого качества? Заменим в течении 24 часов
            .advantages__item 
                img(src="images/advantages-4.svg", alt="").advantages__item-img
                .advantages__item-content
                    p.advantages__item-title Быстрая доставка
                    p.advantages__item-desc Пунктуальные курьеры доставлят ваш букет в срок