mixin footer()
    footer.footer
        .footer__body.container 
            .footer__row
                .footer__left
                    ul.footer__list
                        li.footer__title О нас
                        li.footer__li
                            a(href="#!").footer__link О магазине
                        li.footer__li
                            a(href="#!").footer__link Доставка
                        li.footer__li
                            a(href="#!").footer__link Оплата
                        li.footer__li
                            a(href="#!").footer__link Гарантии
                        li.footer__li
                            a(href="#!").footer__link Новости
                        li.footer__li
                            a(href="#!").footer__link Отзывы
                    ul.footer__list
                        li.footer__title Клиентам
                        li.footer__li
                            a(href="#!").footer__link Контакты
                        li.footer__li   
                            a(href="#!").footer__link Помощь
                        li.footer__li
                            a(href="#!").footer__link Политика конфиденциальности
                        li.footer__li
                            a(href="#!").footer__link Корпоративным клиентам
                        li.footer__li
                            a(href="#!").footer__link Оформление заказа
                    ul.footer__list
                        li.footer__title Другое
                        li.footer__li
                            a(href="#!").footer__link Личный кабинет
                        li.footer__li
                            a(href="#!").footer__link Каталог
                        li.footer__li
                            a(href="#!").footer__link Живая лента
                        li.footer__li
                            a(href="#!").footer__link Понравишееся
                        li.footer__li
                            a(href="#!").footer__link Фотографии
                .footer__right
                    p.footer__title Контакты
                    a(href="tel:+79000000000").footer__right-link 
                        i.fas.fa-phone-alt 
                        p +7 (900) 000-00-00 
                    p.footer__p Время работы: пн-вс с 10:00 до 19:00
                    a(href="#!").footer__right-link 
                        i.fas.fa-map-marker-alt
                        p г. Москва, ул. Улица, д. 1
                    a(href="mailto:something@gmail.com").footer__right-link 
                        i.fal.fa-envelope
                        p something@gmail.com 
                    .footer__icons  
                        a(href="https://ok.ru/" target="_blank").footer__icons-link.fab.fa-odnoklassniki-square
                        a(href="https://facebook.com/" target="_blank").footer__icons-link.fab.fa-facebook-square
                        a(href="https://instagram.com/" target="_blank").footer__icons-link.fab.fa-instagram-square
                        a(href="https://youtube.com/" target="_blank").footer__icons-link.fab.fa-youtube-square
                        a(href="https://twitter.com/" target="_blank").footer__icons-link.fab.fa-twitter-square
                        a(href="https://pinterest.com/" target="_blank").footer__icons-link.fab.fa-pinterest-square
            .footer__bottom
                .footer__bottom-item 
                    i.fal.fa-copyright 
                    p Все права защищены. Rukkola 2021
                a(href="#!").footer__bottom-link Политика конфиденциальности  