mixin header()
  header.header 
    nav.header__top   
      .header__top-body.container
        ul.header__top-left
          li.header__top-li 
            a(href="#!").header__top-link О магазине
          li.header__top-li 
            a(href="#!").header__top-link Доставка 
          li.header__top-li 
            a(href="#!").header__top-link Оплата
          li.header__top-li 
            a(href="#!").header__top-link Отзывы
        .header__top-right
          a(href="tel:+84952551213").header__top-link.strong +8 (495) 255-12-13
          a(href="#!").header__top-link.strong Статус заказа
          a(href="#!" anim="ripple").btn.header__top-btn Войти 
    nav.header__nav 
      