mixin main-carousel()
    .main-carousel-wrap
        .main-carousel.swiper 
            .swiper-wrapper 
                .swiper-slide.main-carousel__item 
                    img(src="images/main-carousel-1.png", alt="").main-carousel__img
                    .container 
                        h1.main-carousel__title Бесплатная доставка ваших любимых живых цветов и букетов по всей России
                        p.main-carousel__desc Все виды цветов на ваш вкус от профессиональных флористов 
                        a(href="catalog.html" anim='ripple').main-carousel__btn Смотреть каталог
                .swiper-slide.main-carousel__item 
                    img(src="images/main-carousel-1.png", alt="").main-carousel__img
                    .container 
                        h1.main-carousel__title Бесплатная доставка ваших любимых живых цветов и букетов по всей России
                        p.main-carousel__desc Все виды цветов на ваш вкус от профессиональных флористов 
                        a(href="catalog.html" anim='ripple').main-carousel__btn Смотреть каталог
                .swiper-slide.main-carousel__item 
                    img(src="images/main-carousel-1.png", alt="").main-carousel__img
                    .container 
                        h1.main-carousel__title Бесплатная доставка ваших любимых живых цветов и букетов по всей России
                        p.main-carousel__desc Все виды цветов на ваш вкус от профессиональных флористов 
                        a(href="catalog.html" anim='ripple').main-carousel__btn Смотреть каталог
                .swiper-slide.main-carousel__item 
                    img(src="images/main-carousel-1.png", alt="").main-carousel__img
                    .container 
                        h1.main-carousel__title Бесплатная доставка ваших любимых живых цветов и букетов по всей России
                        p.main-carousel__desc Все виды цветов на ваш вкус от профессиональных флористов 
                        a(href="catalog.html" anim='ripple').main-carousel__btn Смотреть каталог
            .container
                .main-carousel__btns 
                    .main-carousel-btn-prev.fas.fa-angle-left
                    .main-carousel-btn-next.fas.fa-angle-right
                .swiper-pagination.main-carousel__pagination
