mixin pagination(el)
    .pagination 
        .wrap.container 
            if el == 'Букет 101 тюльпан'
                a(href="index.html").pagination__link.not-main Главная
                i.fas.fa-angle-right.pagination__icon.not-main 
                a(href="index.html").pagination__link.not-main Букеты
                i.fas.fa-angle-right.pagination__icon.not-main 
                a(href="#!").pagination__link.pagination__link_light.not-main Букет 101 тюльпан
            else
                a(href="#!").pagination__link Главная
                i.fas.fa-angle-right.pagination__icon
                a(href="#!").pagination__link.pagination__link_light Букеты 
