mixin pagination()
    .pagination 
        .wrap.container 
            a(href="#!").pagination__link Главная
            i.fas.fa-angle-right.pagination__icon
            a(href="#!").pagination__link.pagination__link_light Букеты 