mixin products()
    .products
        .wrap.container
            .product.product_new    
                .product__thumbnail     
                    img(src="images/product-1.png", alt="Букет «101 тюльпан»").product__thumbnail-img
                    a(href="product.html").product__preview-btn Быстрый просмотр 
                .product__content 
                    .product__content-header
                        p.product__title Букет «101 тюльпан»
                        button(type="button").product__heart.fal.fa-heart 
                    .product__stars     
                        img(src="images/stars.svg", alt="stars").product__stars-img
                        p.product__stars-p 4.9
                    .product__price 
                        span.product__price-p 7900 ₽
                        span.product__price-text +400 ₽ доставка
                .product__hidden 
                    button(type='button' anim='ripple').btn.product__btn В корзину
                    a(href="#!").product__link Купить в 1 клик 
            .product.product_stock 
                .product__thumbnail     
                    img(src="images/product-2.png", alt="Букет «Весна»").product__thumbnail-img
                    a(href="product.html").product__preview-btn Быстрый просмотр 
                .product__content 
                    .product__content-header
                        p.product__title Букет «Весна»
                        button(type="button").product__heart.fal.fa-heart 
                    .product__stars     
                        img(src="images/stars.svg", alt="stars").product__stars-img
                        p.product__stars-p 4.9
                    .product__price 
                        span.product__price-p 6500 ₽
                        span.product__price-text.product__price-text_line 7900 ₽
                .product__hidden 
                    button(type='button' anim='ripple').btn.product__btn В корзину
                    a(href="#!").product__link Купить в 1 клик 
            .product.product_new 
                .product__thumbnail     
                    img(src="images/product-3.png", alt="Букет «Так и быть»").product__thumbnail-img
                    a(href="product.html").product__preview-btn Быстрый просмотр 
                .product__content 
                    .product__content-header
                        p.product__title Букет «Так и быть»
                        button(type="button").product__heart.fal.fa-heart 
                    .product__stars     
                        img(src="images/stars.svg", alt="stars").product__stars-img
                        p.product__stars-p 4.9
                    .product__price 
                        span.product__price-p 9500 ₽
                        span.product__price-text Доставка бесплатная
                .product__hidden 
                    button(type='button' anim='ripple').btn.product__btn В корзину
                    a(href="#!").product__link Купить в 1 клик 
            .product
                .product__thumbnail     
                    img(src="images/product-4.png", alt="Букет «Краски весны»").product__thumbnail-img
                    a(href="product.html").product__preview-btn Быстрый просмотр 
                .product__content 
                    .product__content-header
                        p.product__title Букет «Краски весны»
                        button(type="button").product__heart.fal.fa-heart 
                    .product__stars     
                        img(src="images/stars.svg", alt="stars").product__stars-img
                        p.product__stars-p 4.9
                    .product__price 
                        span.product__price-p 7700 ₽
                        span.product__price-text +400 ₽ доставка
                .product__hidden 
                    button(type='button' anim='ripple').btn.product__btn В корзину
                    a(href="#!").product__link Купить в 1 клик 

                

        