mixin products()
    .products
        .wrap.container
            .product.product_new    
                .product__thumbnail     
                    img(src="images/product-1.png", alt="Букет «101 тюльпан»").product__thumbnail-img
                    a(href="product.html").product__preview-btn Быстрый просмотр 
                .product__content 
                    .product__content-header
                        a(href="product.html").product__title Букет «101 тюльпан»
                        button(type="button").product__heart.fal.fa-heart 
                    .product__stars     
                        img(src="images/stars.svg", alt="stars").product__stars-img
                        p.product__stars-p 4.9
                    .product__price 
                        span.product__price-p 7900 ₽
                        span.product__price-text +400 ₽ доставка
                .product__hidden 
                    button(type='button' anim='ripple').btn.product__btn В корзину
                    a(href="cart.html").product__link Купить в 1 клик 
            .product.product_stock 
                .product__thumbnail     
                    img(src="images/product-2.png", alt="Букет «Весна»").product__thumbnail-img
                    a(href="product.html").product__preview-btn Быстрый просмотр 
                .product__content 
                    .product__content-header
                        a(href="product.html").product__title Букет «Весна»
                        button(type="button").product__heart.fal.fa-heart 
                    .product__stars     
                        img(src="images/stars.svg", alt="stars").product__stars-img
                        p.product__stars-p 4.9
                    .product__price 
                        span.product__price-p 6500 ₽
                        span.product__price-text.product__price-text_line 7900 ₽
                .product__hidden 
                    button(type='button' anim='ripple').btn.product__btn В корзину
                    a(href="cart.html").product__link Купить в 1 клик 
            .product.product_new 
                .product__thumbnail     
                    img(src="images/product-3.png", alt="Букет «Так и быть»").product__thumbnail-img
                    a(href="product.html").product__preview-btn Быстрый просмотр 
                .product__content 
                    .product__content-header
                        a(href="product.html").product__title Букет «Так и быть»
                        button(type="button").product__heart.fal.fa-heart 
                    .product__stars     
                        img(src="images/stars.svg", alt="stars").product__stars-img
                        p.product__stars-p 4.9
                    .product__price 
                        span.product__price-p 9500 ₽
                        span.product__price-text Доставка бесплатная
                .product__hidden 
                    button(type='button' anim='ripple').btn.product__btn В корзину
                    a(href="cart.html").product__link Купить в 1 клик 
            .product
                .product__thumbnail     
                    img(src="images/product-4.png", alt="Букет «Краски весны»").product__thumbnail-img
                    a(href="product.html").product__preview-btn Быстрый просмотр 
                .product__content 
                    .product__content-header
                        a(href="product.html").product__title Букет «Краски весны»
                        button(type="button").product__heart.fal.fa-heart 
                    .product__stars     
                        img(src="images/stars.svg", alt="stars").product__stars-img
                        p.product__stars-p 4.9
                    .product__price 
                        span.product__price-p 7700 ₽
                        span.product__price-text +400 ₽ доставка
                .product__hidden 
                    button(type='button' anim='ripple').btn.product__btn В корзину
                    a(href="cart.html").product__link Купить в 1 клик 
            .product
                .product__thumbnail     
                    img(src="images/product-3.png", alt="Букет «Так и быть»").product__thumbnail-img
                    a(href="product.html").product__preview-btn Быстрый просмотр 
                .product__content 
                    .product__content-header
                        a(href="product.html").product__title Букет «Так и быть»
                        button(type="button").product__heart.fal.fa-heart 
                    .product__stars     
                        img(src="images/stars.svg", alt="stars").product__stars-img
                        p.product__stars-p 4.9
                    .product__price 
                        span.product__price-p 9500 ₽
                        span.product__price-text Доставка бесплатная
                .product__hidden 
                    button(type='button' anim='ripple').btn.product__btn В корзину
                    a(href="cart.html").product__link Купить в 1 клик 
            .product
                .product__thumbnail     
                    img(src="images/product-4.png", alt="Букет «Краски весны»").product__thumbnail-img
                    a(href="product.html").product__preview-btn Быстрый просмотр 
                .product__content 
                    .product__content-header
                        a(href="product.html").product__title Букет «Краски весны»
                        button(type="button").product__heart.fal.fa-heart 
                    .product__stars     
                        img(src="images/stars.svg", alt="stars").product__stars-img
                        p.product__stars-p 4.9
                    .product__price 
                        span.product__price-p 7700 ₽
                        span.product__price-text +400 ₽ доставка
                .product__hidden 
                    button(type='button' anim='ripple').btn.product__btn В корзину
                    a(href="cart.html").product__link Купить в 1 клик 
            .product
                .product__thumbnail     
                    img(src="images/product-3.png", alt="Букет «Так и быть»").product__thumbnail-img
                    a(href="product.html").product__preview-btn Быстрый просмотр 
                .product__content 
                    .product__content-header
                        a(href="product.html").product__title Букет «Так и быть»
                        button(type="button").product__heart.fal.fa-heart 
                    .product__stars     
                        img(src="images/stars.svg", alt="stars").product__stars-img
                        p.product__stars-p 4.9
                    .product__price 
                        span.product__price-p 9500 ₽
                        span.product__price-text Доставка бесплатная
                .product__hidden 
                    button(type='button' anim='ripple').btn.product__btn В корзину
                    a(href="cart.html").product__link Купить в 1 клик 
            .product
                .product__thumbnail     
                    img(src="images/product-4.png", alt="Букет «Краски весны»").product__thumbnail-img
                    a(href="product.html").product__preview-btn Быстрый просмотр 
                .product__content 
                    .product__content-header
                        a(href="product.html").product__title Букет «Краски весны»
                        button(type="button").product__heart.fal.fa-heart 
                    .product__stars     
                        img(src="images/stars.svg", alt="stars").product__stars-img
                        p.product__stars-p 4.9
                    .product__price 
                        span.product__price-p 7700 ₽
                        span.product__price-text +400 ₽ доставка
                .product__hidden 
                    button(type='button' anim='ripple').btn.product__btn В корзину
                    a(href="cart.html").product__link Купить в 1 клик 

mixin products2()
    .products.products-carousel
        .products__header.container
            .products__col 
                p.products__desc Акции
                p.products__title Наши популярные товары со скидой
            a(href="catalog.html").products__link Смотреть весь каталог 
        .wrap.container
            .product  
                .product__thumbnail     
                    img(src="images/product-1.png", alt="Букет «101 тюльпан»").product__thumbnail-img
                    a(href="product.html").product__preview-btn Быстрый просмотр 
                .product__content 
                    .product__content-header
                        a(href="product.html").product__title Букет «101 тюльпан»
                        button(type="button").product__heart.fal.fa-heart 
                    .product__stars     
                        img(src="images/stars.svg", alt="stars").product__stars-img
                        p.product__stars-p 4.9
                    .product__price 
                        span.product__price-p 7900 ₽
                        span.product__price-text +400 ₽ доставка
                .product__hidden 
                    button(type='button' anim='ripple').btn.product__btn В корзину
                    a(href="cart.html").product__link Купить в 1 клик 
            .product.product_new
                .product__thumbnail     
                    img(src="images/product-2.png", alt="Букет «Весна»").product__thumbnail-img
                    a(href="product.html").product__preview-btn Быстрый просмотр 
                .product__content 
                    .product__content-header
                        a(href="product.html").product__title Букет «Весна»
                        button(type="button").product__heart.fal.fa-heart 
                    .product__stars     
                        img(src="images/stars.svg", alt="stars").product__stars-img
                        p.product__stars-p 4.9
                    .product__price 
                        span.product__price-p 6500 ₽
                        span.product__price-text.product__price-text_line 7900 ₽
                .product__hidden 
                    button(type='button' anim='ripple').btn.product__btn В корзину
                    a(href="cart.html").product__link Купить в 1 клик 
            .product
                .product__thumbnail     
                    img(src="images/product-3.png", alt="Букет «Так и быть»").product__thumbnail-img
                    a(href="product.html").product__preview-btn Быстрый просмотр 
                .product__content 
                    .product__content-header
                        a(href="product.html").product__title Букет «Так и быть»
                        button(type="button").product__heart.fal.fa-heart 
                    .product__stars     
                        img(src="images/stars.svg", alt="stars").product__stars-img
                        p.product__stars-p 4.9
                    .product__price 
                        span.product__price-p 9500 ₽
                        span.product__price-text Доставка бесплатная
                .product__hidden 
                    button(type='button' anim='ripple').btn.product__btn В корзину
                    a(href="cart.html").product__link Купить в 1 клик 
            .product
                .product__thumbnail     
                    img(src="images/product-4.png", alt="Букет «Краски весны»").product__thumbnail-img
                    a(href="product.html").product__preview-btn Быстрый просмотр 
                .product__content 
                    .product__content-header
                        a(href="product.html").product__title Букет «Краски весны»
                        button(type="button").product__heart.fal.fa-heart 
                    .product__stars     
                        img(src="images/stars.svg", alt="stars").product__stars-img
                        p.product__stars-p 4.9
                    .product__price 
                        span.product__price-p 7700 ₽
                        span.product__price-text +400 ₽ доставка
                .product__hidden 
                    button(type='button' anim='ripple').btn.product__btn В корзину
                    a(href="cart.html").product__link Купить в 1 клик 

mixin products3()
    .products.products-carousel.products-carousel_2
        .products__header.container
            .products__col 
                p.products__desc Осенние букеты
                p.products__title Свежие букеты в осеннюю пору
            a(href="catalog.html").products__link Смотреть весь каталог 
        .wrap.container
            .product  
                .product__thumbnail     
                    img(src="images/product-1.png", alt="Букет «101 тюльпан»").product__thumbnail-img
                    a(href="product.html").product__preview-btn Быстрый просмотр 
                .product__content 
                    .product__content-header
                        a(href="product.html").product__title Букет «101 тюльпан»
                        button(type="button").product__heart.fal.fa-heart 
                    .product__stars     
                        img(src="images/stars.svg", alt="stars").product__stars-img
                        p.product__stars-p 4.9
                    .product__price 
                        span.product__price-p 7900 ₽
                        span.product__price-text +400 ₽ доставка
                .product__hidden 
                    button(type='button' anim='ripple').btn.product__btn В корзину
                    a(href="cart.html").product__link Купить в 1 клик 
            .product.product_new
                .product__thumbnail     
                    img(src="images/product-2.png", alt="Букет «Весна»").product__thumbnail-img
                    a(href="product.html").product__preview-btn Быстрый просмотр 
                .product__content 
                    .product__content-header
                        a(href="product.html").product__title Букет «Весна»
                        button(type="button").product__heart.fal.fa-heart 
                    .product__stars     
                        img(src="images/stars.svg", alt="stars").product__stars-img
                        p.product__stars-p 4.9
                    .product__price 
                        span.product__price-p 6500 ₽
                        span.product__price-text.product__price-text_line 7900 ₽
                .product__hidden 
                    button(type='button' anim='ripple').btn.product__btn В корзину
                    a(href="cart.html").product__link Купить в 1 клик 
            .product
                .product__thumbnail     
                    img(src="images/product-3.png", alt="Букет «Так и быть»").product__thumbnail-img
                    a(href="product.html").product__preview-btn Быстрый просмотр 
                .product__content 
                    .product__content-header
                        a(href="product.html").product__title Букет «Так и быть»
                        button(type="button").product__heart.fal.fa-heart 
                    .product__stars     
                        img(src="images/stars.svg", alt="stars").product__stars-img
                        p.product__stars-p 4.9
                    .product__price 
                        span.product__price-p 9500 ₽
                        span.product__price-text Доставка бесплатная
                .product__hidden 
                    button(type='button' anim='ripple').btn.product__btn В корзину
                    a(href="cart.html").product__link Купить в 1 клик 
            .product
                .product__thumbnail     
                    img(src="images/product-4.png", alt="Букет «Краски весны»").product__thumbnail-img
                    a(href="product.html").product__preview-btn Быстрый просмотр 
                .product__content 
                    .product__content-header
                        a(href="product.html").product__title Букет «Краски весны»
                        button(type="button").product__heart.fal.fa-heart 
                    .product__stars     
                        img(src="images/stars.svg", alt="stars").product__stars-img
                        p.product__stars-p 4.9
                    .product__price 
                        span.product__price-p 7700 ₽
                        span.product__price-text +400 ₽ доставка
                .product__hidden 
                    button(type='button' anim='ripple').btn.product__btn В корзину
                    a(href="cart.html").product__link Купить в 1 клик 
            .product  
                .product__thumbnail     
                    img(src="images/product-1.png", alt="Букет «101 тюльпан»").product__thumbnail-img
                    a(href="product.html").product__preview-btn Быстрый просмотр 
                .product__content 
                    .product__content-header
                        a(href="product.html").product__title Букет «101 тюльпан»
                        button(type="button").product__heart.fal.fa-heart 
                    .product__stars     
                        img(src="images/stars.svg", alt="stars").product__stars-img
                        p.product__stars-p 4.9
                    .product__price 
                        span.product__price-p 7900 ₽
                        span.product__price-text +400 ₽ доставка
                .product__hidden 
                    button(type='button' anim='ripple').btn.product__btn В корзину
                    a(href="cart.html").product__link Купить в 1 клик 
            .product.product_new
                .product__thumbnail     
                    img(src="images/product-2.png", alt="Букет «Весна»").product__thumbnail-img
                    a(href="product.html").product__preview-btn Быстрый просмотр 
                .product__content 
                    .product__content-header
                        a(href="product.html").product__title Букет «Весна»
                        button(type="button").product__heart.fal.fa-heart 
                    .product__stars     
                        img(src="images/stars.svg", alt="stars").product__stars-img
                        p.product__stars-p 4.9
                    .product__price 
                        span.product__price-p 6500 ₽
                        span.product__price-text.product__price-text_line 7900 ₽
                .product__hidden 
                    button(type='button' anim='ripple').btn.product__btn В корзину
                    a(href="cart.html").product__link Купить в 1 клик 
            .product
                .product__thumbnail     
                    img(src="images/product-3.png", alt="Букет «Так и быть»").product__thumbnail-img
                    a(href="product.html").product__preview-btn Быстрый просмотр 
                .product__content 
                    .product__content-header
                        a(href="product.html").product__title Букет «Так и быть»
                        button(type="button").product__heart.fal.fa-heart 
                    .product__stars     
                        img(src="images/stars.svg", alt="stars").product__stars-img
                        p.product__stars-p 4.9
                    .product__price 
                        span.product__price-p 9500 ₽
                        span.product__price-text Доставка бесплатная
                .product__hidden 
                    button(type='button' anim='ripple').btn.product__btn В корзину
                    a(href="cart.html").product__link Купить в 1 клик 
            .product
                .product__thumbnail     
                    img(src="images/product-4.png", alt="Букет «Краски весны»").product__thumbnail-img
                    a(href="product.html").product__preview-btn Быстрый просмотр 
                .product__content 
                    .product__content-header
                        a(href="product.html").product__title Букет «Краски весны»
                        button(type="button").product__heart.fal.fa-heart 
                    .product__stars     
                        img(src="images/stars.svg", alt="stars").product__stars-img
                        p.product__stars-p 4.9
                    .product__price 
                        span.product__price-p 7700 ₽
                        span.product__price-text +400 ₽ доставка
                .product__hidden 
                    button(type='button' anim='ripple').btn.product__btn В корзину
                    a(href="cart.html").product__link Купить в 1 клик 


mixin products4()
    .products.products-carousel.products-carousel_3
        .products__header.container
            .products__col 
                p.products__desc Каталог
                p.products__title Наши букеты уже приобрели более 5 тыс человек
            a(href="catalog.html").products__link Смотреть весь каталог 
        .wrap.container
            .product  
                .product__thumbnail     
                    img(src="images/product-1.png", alt="Букет «101 тюльпан»").product__thumbnail-img
                    a(href="product.html").product__preview-btn Быстрый просмотр 
                .product__content 
                    .product__content-header
                        a(href="product.html").product__title Букет «101 тюльпан»
                        button(type="button").product__heart.fal.fa-heart 
                    .product__stars     
                        img(src="images/stars.svg", alt="stars").product__stars-img
                        p.product__stars-p 4.9
                    .product__price 
                        span.product__price-p 7900 ₽
                        span.product__price-text +400 ₽ доставка
                .product__hidden 
                    button(type='button' anim='ripple').btn.product__btn В корзину
                    a(href="cart.html").product__link Купить в 1 клик 
            .product.product_new
                .product__thumbnail     
                    img(src="images/product-2.png", alt="Букет «Весна»").product__thumbnail-img
                    a(href="product.html").product__preview-btn Быстрый просмотр 
                .product__content 
                    .product__content-header
                        a(href="product.html").product__title Букет «Весна»
                        button(type="button").product__heart.fal.fa-heart 
                    .product__stars     
                        img(src="images/stars.svg", alt="stars").product__stars-img
                        p.product__stars-p 4.9
                    .product__price 
                        span.product__price-p 6500 ₽
                        span.product__price-text.product__price-text_line 7900 ₽
                .product__hidden 
                    button(type='button' anim='ripple').btn.product__btn В корзину
                    a(href="cart.html").product__link Купить в 1 клик 
            .product
                .product__thumbnail     
                    img(src="images/product-3.png", alt="Букет «Так и быть»").product__thumbnail-img
                    a(href="product.html").product__preview-btn Быстрый просмотр 
                .product__content 
                    .product__content-header
                        a(href="product.html").product__title Букет «Так и быть»
                        button(type="button").product__heart.fal.fa-heart 
                    .product__stars     
                        img(src="images/stars.svg", alt="stars").product__stars-img
                        p.product__stars-p 4.9
                    .product__price 
                        span.product__price-p 9500 ₽
                        span.product__price-text Доставка бесплатная
                .product__hidden 
                    button(type='button' anim='ripple').btn.product__btn В корзину
                    a(href="cart.html").product__link Купить в 1 клик 
            .product
                .product__thumbnail     
                    img(src="images/product-4.png", alt="Букет «Краски весны»").product__thumbnail-img
                    a(href="product.html").product__preview-btn Быстрый просмотр 
                .product__content 
                    .product__content-header
                        a(href="product.html").product__title Букет «Краски весны»
                        button(type="button").product__heart.fal.fa-heart 
                    .product__stars     
                        img(src="images/stars.svg", alt="stars").product__stars-img
                        p.product__stars-p 4.9
                    .product__price 
                        span.product__price-p 7700 ₽
                        span.product__price-text +400 ₽ доставка
                .product__hidden 
                    button(type='button' anim='ripple').btn.product__btn В корзину
                    a(href="cart.html").product__link Купить в 1 клик 


mixin reviews()
    .reviews
        .products__header.container 
            .products__col 
                p.products__desc Отзывы
                p.products__title О нас говорят многие клиенты
        .container
            .reviews-carousel.swiper
                .wrap.swiper-wrapper
                    .reviews__item.swiper-slide
                        .reviews__item-header 
                            .reviews__item-col
                                p.reviews__item-title Виктория
                                .reviews__stars 
                                    img(src="images/star.svg", alt="")
                                    img(src="images/star.svg", alt="")
                                    img(src="images/star.svg", alt="")
                                    img(src="images/star.svg", alt="")
                                    img(src="images/star.svg", alt="")
                                    p.reviews__stars-p 5
                            .reviews__item-col
                                p.reviews__item-date 12.07.2021  
                        .reviews__content 
                            p.reviews__p Отличная доставка. Всё выполнено  в наилучшем качестве. Впечатления просто неземные. Огромное спасибо
                            .reviews__row 
                                p.reviews__small.light Отзыв к товару
                                p.reviews__small Букет 101 тюльпан
                        .reviews__images 
                            img(src="images/product-4.png", alt="")
                            img(src="images/product-3.png", alt="")
                    .reviews__item.swiper-slide 
                        .reviews__item-header 
                            .reviews__item-col
                                p.reviews__item-title Виктория
                                .reviews__stars 
                                    img(src="images/star.svg", alt="")
                                    img(src="images/star.svg", alt="")
                                    img(src="images/star.svg", alt="")
                                    img(src="images/star.svg", alt="")
                                    img(src="images/star.svg", alt="")
                                    p.reviews__stars-p 5
                            .reviews__item-col
                                p.reviews__item-date 12.07.2021  
                        .reviews__content 
                            p.reviews__p Отличная доставка. Всё выполнено  в наилучшем качестве. Впечатления просто неземные. Огромное спасибо
                            .reviews__row 
                                p.reviews__small.light Отзыв к товару
                                p.reviews__small Букет 101 тюльпан
                        .reviews__images 
                            img(src="images/product-4.png", alt="")
                            img(src="images/product-3.png", alt="")
                    .reviews__item.swiper-slide
                        .reviews__item-header 
                            .reviews__item-col
                                p.reviews__item-title Виктория
                                .reviews__stars 
                                    img(src="images/star.svg", alt="")
                                    img(src="images/star.svg", alt="")
                                    img(src="images/star.svg", alt="")
                                    img(src="images/star.svg", alt="")
                                    img(src="images/star.svg", alt="")
                                    p.reviews__stars-p 5
                            .reviews__item-col
                                p.reviews__item-date 12.07.2021  
                        .reviews__content 
                            p.reviews__p Отличная доставка. Всё выполнено  в наилучшем качестве. Впечатления просто неземные. Огромное спасибо
                            .reviews__row 
                                p.reviews__small.light Отзыв к товару
                                p.reviews__small Букет 101 тюльпан
                        .reviews__images 
                            img(src="images/product-4.png", alt="")
                            img(src="images/product-3.png", alt="")
            .reviews__btns
                a(href="#!" anim='ripple').reviews__link Оставить отзыв
                button(type="button" anim='ripple').reviews__more-btn Показать ещё


mixin news()
    .news 
        .news__body.container
            .products__header
                .products__col 
                    p.products__desc Новости
                    p.products__title Недавное из нашей жизни
            .news__carousel.swiper 
                .news__carousel-wrapper.swiper-wrapper
                    .news__carousel-item.swiper-slide
                        img(src="images/news-1.png", alt="").news__carousel-img
                        p.news__carousel-desc Доставка
                        p.news__carousel-title Доставляем наши букеты прямо на Олимпиаду 2020 в Токио
                    .news__carousel-item.swiper-slide
                        img(src="images/news-2.png", alt="").news__carousel-img
                        p.news__carousel-desc О нас
                        p.news__carousel-title Первое место в рейтинге лучшиих поставщиков букетов по Москве
                    .news__carousel-item.swiper-slide
                        img(src="images/news-3.png", alt="").news__carousel-img
                        p.news__carousel-desc О нас
                        p.news__carousel-title Розыгрыш на доставку бесплатного букета завершился