doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="styles/all.min.css")
        link(rel="stylesheet" href="styles/index.css")
    body
        .notfound 
            .container 
                h1.notfound__title 404
                p.notfound__subtitle Страница не найден 
                p.notfound__p Мы извиняемся за причиненые неудобства. Можете нажать кнопку и продолжить свой поиск
                a(href="catalog.html" anim='ripple').notfound__btn  Перейти в каталог
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js") 
        script(src="https://code.jquery.com/jquery-3.4.1.min.js") 
        script(src="scripts/index.js") 