doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="styles/all.min.css")
        link(rel="stylesheet" href="styles/index.css")
    body
        .wrapper
            include components/header.pug 
            +header 
            main.main.sticky 
                include components/pagination.pug 
                +pagination 
                .filter 
                    p.filter__title КУПИТЬ ЦВЕТЫ С ДОСТАВКОЙ В МОСКВЕ
                    .filter__content.container
                        .header-carousel__item.swiper-slide.filter-item-c 
                            p.header-carousel-p.filter__btn Цена ...
                                i.fas.fa-arrow-down
                            .header-carousel__content
                                .header-carousel__col 
                                    a(href="#!").header-carousel-link Все
                                    a(href="#!").header-carousel-link до 2 000
                                    a(href="#!").header-carousel-link 2 000 - 3 500
                                    a(href="#!").header-carousel-link 3 500 - 5 000
                                    a(href="#!").header-carousel-link 5 000 - 7 500
                                    a(href="#!").header-carousel-link от 7 500 
                        .header-carousel__item.swiper-slide.filter-item-c 
                            p.header-carousel-p.filter__btn Цветы ...
                                i.fas.fa-arrow-down
                            .header-carousel__content 
                                .header-carousel__col 
                                    a(href="#!").header-carousel-link Все
                                    a(href="#!").header-carousel-link С тюльпанами
                                    a(href="#!").header-carousel-link С розами
                                    a(href="#!").header-carousel-link С ирисами
                                    a(href="#!").header-carousel-link С герберами
                                    a(href="#!").header-carousel-link С лилиями
                                    a(href="#!").header-carousel-link С хризантемами
                                    a(href="#!").header-carousel-link С орхидеями
                                    a(href="#!").header-carousel-link С альстромериями
                                    a(href="#!").header-carousel-link С гортензиями
                                .header-carousel__col 
                                    a(href="#!").header-carousel-link С гвоздиками
                                    a(href="#!").header-carousel-link С лизиантусами
                                    a(href="#!").header-carousel-link С пионами
                                    a(href="#!").header-carousel-link С ромашками
                                    a(href="#!").header-carousel-link С подсолнухами
                                    a(href="#!").header-carousel-link Монобукеты
                                    a(href="#!").header-carousel-link Микс
                        .header-carousel__item.swiper-slide.filter-item-c 
                            p.header-carousel-p.filter__btn Кому ...
                                i.fas.fa-arrow-down
                            .header-carousel__content 
                                .header-carousel__col
                                    a(href="#!").header-carousel-link Все
                                    a(href="#!").header-carousel-link Маме
                                    a(href="#!").header-carousel-link Женщине
                                    a(href="#!").header-carousel-link Любимой
                                    a(href="#!").header-carousel-link Семье
                                    a(href="#!").header-carousel-link Мужчине
                                    a(href="#!").header-carousel-link Ребенку
                                    a(href="#!").header-carousel-link Деловому партнеру
                                    a(href="#!").header-carousel-link Дочери
                                    a(href="#!").header-carousel-link Подруге
                                    a(href="#!").header-carousel-link Сестре
                        .header-carousel__item.swiper-slide.filter-item-c 
                            p.header-carousel-p.filter__btn Повод ...
                                i.fas.fa-arrow-down
                            .header-carousel__content 
                                .header-carousel__col
                                    a(href="#!").header-carousel-link Всем
                                    a(href="#!").header-carousel-link День рождения
                                    a(href="#!").header-carousel-link Поздравление
                                    a(href="#!").header-carousel-link Сказать люблю
                                    a(href="#!").header-carousel-link Извинение
                                    a(href="#!").header-carousel-link Бизнес-поздравления
                                    a(href="#!").header-carousel-link Благодарность
                                    a(href="#!").header-carousel-link На свадьбу
                                    a(href="#!").header-carousel-link Для новорождённого
                        .header-carousel__item.swiper-slide.filter-item-c 
                            p.header-carousel-p.filter__btn Стиль ...
                                i.fas.fa-arrow-down
                            .header-carousel__content 
                                .header-carousel__col
                                    a(href="#!").header-carousel-link Все  
                                    a(href="#!").header-carousel-link Нежный  
                                    a(href="#!").header-carousel-link Белый
                                    a(href="#!").header-carousel-link Красный
                                    a(href="#!").header-carousel-link Зеленый
                                    a(href="#!").header-carousel-link Синий
                                    a(href="#!").header-carousel-link Разноцветный
                                .header-carousel__col 
                                    a(href="#!").header-carousel-link Авторский
                                    a(href="#!").header-carousel-link Яркий
                                    a(href="#!").header-carousel-link Желтый
                                    a(href="#!").header-carousel-link Розовый
                                    a(href="#!").header-carousel-link Оранжевый
                                    a(href="#!").header-carousel-link Фиолетовый
                include components/products.pug 
                +products 
            include components/footer.pug 
            +footer 
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js") 
        script(src="https://code.jquery.com/jquery-3.4.1.min.js") 
        script(src="scripts/index.js") 