doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="styles/all.min.css")
        link(rel="stylesheet" href="styles/index.css")
    body
        .wrapper
            include components/header.pug 
            +header 
            main.main.sticky 
                include components/pagination.pug 
                +pagination 
                .filter 
                    p.filter__title КУПИТЬ ЦВЕТЫ С ДОСТАВКОЙ В МОСКВЕ
                    .filter__content.container
                        .filter-item.filter-item-c 
                            p.filter__btn Цена ...
                                i.fas.fa-arrow-down
                            .filter-content
                                .filter-col 
                                    a(href="#!").filter-link Все
                                    a(href="#!").filter-link до 2 000
                                    a(href="#!").filter-link 2 000 - 3 500
                                    a(href="#!").filter-link 3 500 - 5 000
                                    a(href="#!").filter-link 5 000 - 7 500
                                    a(href="#!").filter-link от 7 500 
                        .filter-item.filter-item-c 
                            p.filter__btn Цветы ...
                                i.fas.fa-arrow-down
                            .filter-content 
                                .filter-col 
                                    a(href="#!").filter-link Все
                                    a(href="#!").filter-link С тюльпанами
                                    a(href="#!").filter-link С розами
                                    a(href="#!").filter-link С ирисами
                                    a(href="#!").filter-link С герберами
                                    a(href="#!").filter-link С лилиями
                                    a(href="#!").filter-link С хризантемами
                                    a(href="#!").filter-link С орхидеями
                                    a(href="#!").filter-link С альстромериями
                                    a(href="#!").filter-link С гортензиями
                                .filter-col 
                                    a(href="#!").filter-link С гвоздиками
                                    a(href="#!").filter-link С лизиантусами
                                    a(href="#!").filter-link С пионами
                                    a(href="#!").filter-link С ромашками
                                    a(href="#!").filter-link С подсолнухами
                                    a(href="#!").filter-link Монобукеты
                                    a(href="#!").filter-link Микс
                        .filter-item.filter-item-c 
                            p.filter__btn Кому ...
                                i.fas.fa-arrow-down
                            .filter-content 
                                .filter-col
                                    a(href="#!").filter-link Все
                                    a(href="#!").filter-link Маме
                                    a(href="#!").filter-link Женщине
                                    a(href="#!").filter-link Любимой
                                    a(href="#!").filter-link Семье
                                    a(href="#!").filter-link Мужчине
                                    a(href="#!").filter-link Ребенку
                                    a(href="#!").filter-link Деловому партнеру
                                    a(href="#!").filter-link Дочери
                                    a(href="#!").filter-link Подруге
                                    a(href="#!").filter-link Сестре
                        .filter-item.filter-item-c 
                            p.filter__btn Повод ...
                                i.fas.fa-arrow-down
                            .filter-content 
                                .filter-col
                                    a(href="#!").filter-link Всем
                                    a(href="#!").filter-link День рождения
                                    a(href="#!").filter-link Поздравление
                                    a(href="#!").filter-link Сказать люблю
                                    a(href="#!").filter-link Извинение
                                    a(href="#!").filter-link Бизнес-поздравления
                                    a(href="#!").filter-link Благодарность
                                    a(href="#!").filter-link На свадьбу
                                    a(href="#!").filter-link Для новорождённого
                        .filter-item.filter-item-c 
                            p.filter__btn Стиль ...
                                i.fas.fa-arrow-down
                            .filter-content 
                                .filter-col
                                    a(href="#!").filter-link Все  
                                    a(href="#!").filter-link Нежный  
                                    a(href="#!").filter-link Белый
                                    a(href="#!").filter-link Красный
                                    a(href="#!").filter-link Зеленый
                                    a(href="#!").filter-link Синий
                                    a(href="#!").filter-link Разноцветный
                                .filter-col 
                                    a(href="#!").filter-link Авторский
                                    a(href="#!").filter-link Яркий
                                    a(href="#!").filter-link Желтый
                                    a(href="#!").filter-link Розовый
                                    a(href="#!").filter-link Оранжевый
                                    a(href="#!").filter-link Фиолетовый
                include components/products.pug 
                +products 
            include components/footer.pug 
            +footer 
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js") 
        script(src="https://code.jquery.com/jquery-3.4.1.min.js") 
        script(src="scripts/index.js") 