doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="styles/all.min.css")
        link(rel="stylesheet" href="styles/index.css")
    body
        .wrapper
            include components/header.pug 
            +header 
            main.main.sticky 
                include components/pagination.pug 
                +pagination('Букет 101 тюльпан') 
                .product-page
                    .wrap.container 
                        .carousel
                            .carousel__thumb.swiper(thumbsSlider="")
                                .swiper-wrapper 
                                    .swiper-slide
                                        img(src="images/slider-1.png", alt="")
                                    .swiper-slide
                                        img(src="images/slider-2.png", alt="")
                                    .swiper-slide
                                        img(src="images/slider-3.png", alt="")
                                    .swiper-slide
                                        img(src="images/slider-4.png", alt="")
                                .swiper-pagination
                            .carousel__main.swiper
                                .swiper-wrapper 
                                    .swiper-slide
                                        img(src="images/slider-1.png", alt="")
                                    .swiper-slide
                                        img(src="images/slider-2.png", alt="")
                                    .swiper-slide
                                        img(src="images/slider-3.png", alt="")
                                    .swiper-slide
                                        img(src="images/slider-4.png", alt="")
                        .content 
                            h2.title Букет «101 тюльпан»
                            .row 
                                .stars
                                    img(src="images/stars.svg", alt="stars").stars__img
                                    p.stars__p 4.9
                                a(href="reviews.html").reviews-text 42 отзыва
                            p.desc Букет ярких тюльпанов будет отличным подарком как на праздник, так и просто порадовать девушку
                            form(action="").form
                                .form__widget
                                    p.form__title Размер букета: 
                                    .form__items 
                                        .form__item 
                                            input(type="radio", name="size").form__item-chk
                                            .form__item-content 30х30
                                        .form__item 
                                            input(type="radio", name="size" checked).form__item-chk
                                            .form__item-content 40х40
                                        .form__item 
                                            input(type="radio", name="size").form__item-chk
                                            .form__item-content 50х50
                                .form__widget
                                    p.form__title Состав букета:
                                    p.form__text 50 красных тюльпанов
                                    p.form__text 51 белых тюльпанов 
                                    p.form__text Картоная упаковка + ленточка
                                    p.form__text Зелень
                                .form__widget
                                    p.form__title Оформление заказа
                                    p.form__subtitle Высота тюльпанов:
                                    .form__items 
                                        .form__item 
                                            input(type="radio", name="sizesm").form__item-chk
                                            .form__item-content 30 см
                                        .form__item 
                                            input(type="radio", name="sizesm" checked).form__item-chk
                                            .form__item-content 50 см
                                        .form__item 
                                            input(type="radio", name="sizesm").form__item-chk
                                            .form__item-content 60 см
                                .form__widget
                                    p.form__subtitle Упаковка:
                                    .form__items 
                                        .form__item 
                                            input(type="radio", name="package" checked).form__item-chk
                                            .form__item-content Ленточка
                                        .form__item 
                                            input(type="radio", name="package").form__item-chk
                                            .form__item-content Крафт (290₽)
                                        .form__item 
                                            input(type="radio", name="package").form__item-chk
                                            .form__item-content Корейская (390₽) 
                                        .form__item 
                                            input(type="radio", name="package").form__item-chk
                                            .form__item-content Премиум (490₽)
                                        .form__item 
                                            input(type="radio", name="package").form__item-chk
                                            .form__item-content Корзинка (1000₽)
                                .form__widget
                                    p.form__subtitle Дополнительная зелень:
                                    .form__items 
                                        .form__item 
                                            input(type="radio", name="dop").form__item-chk
                                            .form__item-content Нет
                                        .form__item 
                                            input(type="radio", name="dop" checked).form__item-chk
                                            .form__item-content Да (200₽)



                                
            include components/footer.pug 
            +footer 
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js") 
        script(src="https://code.jquery.com/jquery-3.4.1.min.js") 
        script(src="scripts/index.js") 